body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#root {
  height: 100vh;
  width: 100vw;
}

#root > div {
  height: 100%;
}

#root > div, #root > div > div  {
  background-image: url("../assets/app-bg.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  background-size: cover;
}

.hidden.menu {
  display: none;
}

.masthead {
  position: relative;
  background-image: url("../assets/dashboard.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  background-size: cover;
}

.masthead > div.segment {
  margin: 0;
  border-radius: 0;
  min-height: 600px;
  padding: 5em 0em;
}
.masthead .logo.item img {
  margin-right: 1em;
}
.masthead .ui.menu .ui.button {
  margin-left: 0.5em;
}
.masthead h1.ui.header {
  margin-bottom: 0em;
  font-size: 4em;
  font-weight: normal;
}
.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
}

.ui.vertical.stripe {
  padding: 8em 0em;
}
.ui.vertical.stripe h3 {
  font-size: 2em;
}
.ui.vertical.stripe .button + h3,
.ui.vertical.stripe p + h3 {
  margin-top: 3em;
}
.ui.vertical.stripe .floated.image {
  clear: both;
}
.ui.vertical.stripe p {
  font-size: 1.33em;
}
.ui.vertical.stripe .horizontal.divider {
  margin: 3em 0em;
}

.quote.stripe.segment {
  padding: 0em;
}
.quote.stripe.segment .grid .column {
  padding-top: 5em;
  padding-bottom: 5em;
}

.footer.segment {
  padding: 5em 0em;
}

.secondary.pointing.menu .toc.item {
  display: none;
}

@media only screen and (max-width: 1024px) {
  .ui.fixed.menu {
    display: none !important;
  }
  .secondary.pointing.menu .item,
  .secondary.pointing.menu .menu {
    display: none;
  }
  .secondary.pointing.menu .toc.item {
    display: block;
  }
  .masthead.segment {
    min-height: 350px;
  }
  .masthead h1.ui.header {
    font-size: 2em;
    margin-top: 1.5em;
  }
  .masthead h2 {
    margin-top: 0.5em;
    font-size: 1.5em;
  }

  .leaflet-container-info {
    height: 45vh;
    width: 100vw;
  }
}

@media (min-width: 1024px) {
  .only-on-mobiles-and-tablet {
    display: none!important;
  }

  .leaflet-container-info {
    height: 45vh;
    width: 35vw;
  }
}

.leaflet-container {
  height: 100%;
  width: 100%;
}

.leaflet-container-main {
  height: 100vh;
  width: 100vw;
}

.ui.padded.segment.vertical.segment,
.ui[class*="small padded"].vertical.segment {
  padding: 0.3em 0;
}

.not-found {
  height: 90vh;
}

.not-found-status {
  font-size: 96px;
  color: #f0515a;
}

.not-found-text {
  font-size: 50px;
}

.color-danger, .color-danger:hover, .color-danger:focus, .color-danger:visited, .color-danger:active {
  color: #f0515a;
}

.white-link, .white-link:hover, .white-link:focus, .white-link:visited, .white-link:active {
  color: white;
}

#login, #signup {
  position: relative;
  padding-top: 15vh;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-image: url("../assets/app-bg.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  background-size: cover;
}

.footer.segment {
  background-color: #E0E0E0;
}

.float-right {
  float: right;
}

.sidebar-trigger-button {
  margin: 20px;
  position: absolute;
  z-index: 9999;
}

.pushable > div > div > .sidebar-trigger-button {
  margin: 20px;
}

.font-size-20 {
  font-size: 20px;
}

.text-align-left {
  text-align: left;
}

label sup {
  font-size: 16px;
  top: 0;
  color: #f0515a;
}

.menu-item {
  color: #222222;
}

.menu-item:focus, .menu-item:active, .menu-item:hover, .menu-item:visited {
  color: #222222;
}

.menu-item-active, .menu-item-active:focus, .menu-item-active:active, .menu-item-active:hover ,.menu-item-active:visited {
  background-color: white;
  color: #e9c6a7!important
}

@media (min-width: 992px) {
  .padded-menu {
    padding: 0 15%;
    border-bottom: 2px solid #222222;
  }
}

.padding-left-5 {
  padding-left: 5px!important;
}

.input-label {
  font-size: 16px;
}

.font-style-oblique {
  font-style: oblique;
}

.font-size-15 {
  font-size: 15px!important;
  color: #757575!important;
}

.color-beige {
  color: #e9c6a7;
}

@media (min-width: 1200px) {
  .founded-routes {
    padding: 0 50px;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.padding-right-5 {
  padding-right: 5px!important;
}

.padding-0 {
  padding: 0!important;
}

.initial-width {
  width: inherit!important;
}

.map-search-button {
  margin: 20px!important;
  bottom: 0;
  position: absolute;
  z-index: 9999;
}

.info {
  position: relative;
  margin: 0;
  padding-top: 3px;
  color: #999;
  font-size: 12px;
}

.info-icon {
  position: absolute;
  padding-left: 5px;
  top: 0;
  left: 0;
  content: '\F05A';
  font-family: 'Font Awesome';
  font-size: 16px;
}

@media only screen and (max-width: 767px) and (min-width: 320px) {
  .no-left-right-padding {
    padding-left: 0px!important;
    padding-right: 0px!important;
  }
}

.padding-top-10 {
  padding-top: 10px;
}

.remove-confirm {
  background-color: #f0515a!important;
}

.remove-confirm  > p {
  color: white;
  display: inline;
}

.remove-confirm  > i {
  color: white;
  float: right;
}

.color-green {
  color: #21BA45!important;
}
